:root{
    --cor-principal: #E71F33;
    --cor-branco: #ffffff;
    --cor-bg: #000000;
}

*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./IMG/image-bg.png);
    background-size: cover;
    margin-left: 3%;
    margin-right: 3%;
}


header{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    align-items: center;
}

.logo{
    width: 150px;
    display: flex;
    align-items: center;
}

.navegation ul{
    display: flex;
    justify-content: space-between;
    gap: 30%;
    list-style: none;
}

.navegation ul li a{
    text-decoration: none;
    color: var(--cor-branco);
    font-size: 20px;
}

.cadastro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.cadastre-se{
    text-decoration: none;
    color: var(--cor-branco);
}

.btn-login{
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 10px;
    background-color: var(--cor-principal);
    color: var(--cor-branco);
}

.cards-home{
    position: relative;
    padding-top: 5%;
    display: flex;
    justify-content: center;
}

.cards-home img{
    position: relative;
    width: 70%;
}