:root{
    --cor-principal: #DE0B1C;
    --cor-branco: #ffffff;
    --cor-bg: #000000;
    --fonte-tamanho: 100%;
    --card-color: #313131;
}

@font-face {
    font-family: 'LeagueSpartan';
    src: url('Fonts\LeagueSpartan-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
    font-family: url('Fonts\LeagueSpartan-Medium.ttf') format('truetype');
}

body{
    background-color: var(--cor-bg);
    font-family: 'LeagueSpartan', sans-serif;
}


header {
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 100%;
    padding: 20px;
    gap: 10%;
    background-color: var(--cor-bg);
    z-index: 90;
    position: fixed;
    top: 0;
}


.logo{
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navegation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25%;
    list-style: none;
}

.navegation a{
    text-decoration: none;
    color: var(--cor-branco);
    font-size: var(--fonte-tamanho);
}


.navegation a:hover{
    color: var(--cor-principal);
}

.cadastro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    gap: 10px;
}

.cadastre-se{
    text-decoration: none;
    color: var(--cor-principal);
    font-size: var(--fonte-tamanho);
}

.cadastre-se:hover{
    color: var(--cor-branco);
}

.btn-login{
    text-decoration: none;
    border-radius: 10px;
    background-color: var(--cor-principal);
    color: var(--cor-branco);
    font-size: 14pt;
    text-align: center;
    padding: 8px;
    width: 100px;
    height: 40px;
}

.btn-login:hover{
    background-color : var(--cor-branco);
    color: var(--cor-principal);
}

.textohome1{
    font-size: 80pt;
    position: relative;
    color: var(--cor-principal);
    text-decoration: none;
    font-weight: 300;
    display: flex;
    padding-top: 10%;
    justify-content: center;
    text-align: center;
}

.first-section{
    display: flex;
    margin-top: 5%;
    justify-content: center;
    gap: 5%;
}

.circulo1{
    margin-top: 5%;
    margin-left: 0;
    display: flex;
    border-radius: 50%;
    position: relative;
    width: 550px;
    height: 550px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--cor-branco);
    background-color: var(--cor-principal);
}

.circulo1 .texto1{
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 0;
    font-size: 12pt;
    margin-bottom: 40px;
    line-height: 30pt;
    font-weight: bold;

}

.card-garrafa{
    position: relative;
    width: 20%;
    height: 10%;
    margin-top: 5%;
    margin-left: -2%;
    display: flex;
    justify-content:center;
    background-color: var(--card-color);
    border-radius: 15px;
    padding: 4%;
    opacity: 0.8;
}


.textogarrafa{
    position: absolute;
    display: flex;
    justify-content: center;
    color: var(--cor-principal);
    font-weight: bold;
    font-size: var(--fonte-tamanho);
}

.garrafa{
    margin-top: 20%;
    width: 100%;
    height: 100%;
}

.second-section{
    display: flex;
    justify-content: center;
    gap: 5%;
}

.textohome2{
    font-size: 80pt;
    position: relative;
    color: var(--cor-principal);
    text-decoration: none;
    font-weight: 300;
    display: flex;
    padding-top: 5%;
    justify-content: center;
    text-align: center;
}

.circulo2{
    margin-top: 5%;
    margin-left: 0;
    display: flex;
    border-radius: 50%;
    position: relative;
    width: 550px;
    height: 550px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--cor-branco);
    background-color: var(--cor-principal);
}

.circulo2 .texto2{
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 0;
    font-size: 12pt;
    margin-bottom: 40px;
    line-height: 20pt;
    font-weight: bold;
}

.card-sprite{
    position: relative;
    width: 20%;
    height: 10%;
    margin-top: 5%;
    margin-left: -2%;
    display: flex;
    justify-content:center;
    background-color: var(--card-color);
    border-radius: 15px;
    padding: 4%;
    opacity: 0.8;
}

.latasprinte{
    margin-top: 20%;
    width: 100%;
    height: 100%;
}


.textosprite{
    position: absolute;
    display: flex;
    justify-content: center;
    color: var(--cor-principal);
    font-weight: bold;
    font-size: var(--fonte-tamanho);
}

.faixa{
    position: relative;
    display: flex;
    align-items: center;
}

.faixacoca{
    display: flex;
    width: 100%;
    height: 90%;
}

.textohome3{
    font-size: 80pt;
    position: relative;
    color: var(--cor-principal);
    text-decoration: none;
    font-weight: 300;
    display: flex;
    padding-top: 5%;
    justify-content: center;
    text-align: center;
}

.grupocard{
    display: flex;
    justify-content: center;
}

.grupo{
    margin-top: 5%;
    width: 60%;
}

.textohome4{
    font-size: 80pt;
    position: relative;
    color: var(--cor-principal);
    text-decoration: none;
    font-weight: 300;
    display: flex;
    padding-top: 5%;
    justify-content: center;
    text-align: center;
}


.third-section{
    display: flex;
    justify-content: center;
    gap: 5%;
}

.circulo3{
    margin-top: 5%;
    margin-left: -50%;
    display: flex;
    border-radius: 50%;
    position: relative;
    width: 550px;
    height: 550px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--cor-branco);
    background-color: var(--cor-principal);
}

.circulo3 .texto3{
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 0;
    font-size: 12pt;
    margin-bottom: 40px;
    line-height: 20pt;
    font-weight: bold;
}