:root{
    --cor-principal: #DE0B1C;
    --cor-branco: #ffffff;
    --cor-bg: #000000;
    --fonte-tamanho: 100%;
    --card-color: #313131;
}

@font-face {
    font-family: 'LeagueSpartan';
    src: url('Fonts\LeagueSpartan-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
    font-family: url('Fonts\LeagueSpartan-Medium.ttf') format('truetype');
}

body{
    background-color: var(--cor-bg);
    margin-top: 0;
    font-family: 'LeagueSpartan', sans-serif;
}


header {
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 100%;
    padding: 20px;
    gap: 10%;
    background-color: var(--cor-bg);
    z-index: 90;
    position: fixed;
    top: 0;
}


.logo{
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navegation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25%;
    list-style: none;
}

.navegation a{
    text-decoration: none;
    color: var(--cor-branco);
    font-size: var(--fonte-tamanho);
}


.navegation a:hover{
    color: var(--cor-principal);
}

.cadastro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    gap: 10px;
}

.cadastre-se{
    text-decoration: none;
    color: var(--cor-principal);
    font-size: var(--fonte-tamanho);
}

.cadastre-se:hover{
    color: var(--cor-branco);
}

.btn-login{
    text-decoration: none;
    border-radius: 10px;
    background-color: var(--cor-principal);
    color: var(--cor-branco);
    font-size: 14pt;
    text-align: center;
    padding: 8px;
    width: 100px;
    height: 40px;
}

.btn-login:hover{
    background-color : var(--cor-branco);
    color: var(--cor-principal);
}


.textohome1{
    font-size: 80pt;
    position: relative;
    color: var(--cor-principal);
    text-decoration: none;
    font-weight: 300;
    display: flex;
    padding-top: 10%;
    justify-content: center;
    text-align: center;
    margin-bottom: 5%;
}

.first-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
}

.cards-produto1{
    background-color: var(--card-color);
    border-radius: 15px;
    opacity: 0.8;
}

.cards-produto2{
    background-color: var(--card-color);
    border-radius: 15px;
    opacity: 0.8;
}

.cards-produto3{
    background-color: var(--card-color);
    border-radius: 15px;
    opacity: 0.8;
}
