:root{
    --cor-principal: #DE0B1C;
    --cor-branco: #ffffff;
    --cor-bg: #000000;
    --fonte-tamanho: 2.5vh;
    --font-tamanho-cards: 100%;
    --card-color: #313131;
}

@font-face {
    font-family: 'LeagueSpartan';
    src: url('Fonts\LeagueSpartan-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
    font-family: url('Fonts\LeagueSpartan-Medium.ttf') format('truetype');
}

body{
    background-color: var(--cor-bg);
    font-family: 'LeagueSpartan', sans-serif;
    margin: 0;
}


/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5vh;
    background-color: var(--cor-bg);
    z-index: 90;
    margin-top: 0;
    height: 10vh;
    position: relative;
    pointer-events: auto;  
}


.logoprod{
    width: 80%;
    display: block;
    align-items: center;
}



.navegation1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15vh;
    margin: 0 auto;
    list-style: none;
}

.navegation1 a{
    text-decoration: none;
    color: var(--cor-branco);
    font-size: var(--fonte-tamanho);
    pointer-events: auto;
}


.navegation1 a:hover{
    color: var(--cor-principal);
}


.nav-mobile1{
    display: none;

}


.cadastro{
    width: 25vh;
    font-size: var(--fonte-tamanho);
    display: flex;
    justify-content: space-between;
    gap: 1vh;
    align-items: center;
}

.cadastre-se{
    display: flex;
    margin: auto;
    text-decoration: none;
    color: var(--cor-principal);
    font-size: var(--fonte-tamanho);
}

.cadastre-se:hover{
    color: var(--cor-branco);
}

.btn-login{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: var(--cor-principal);
    color: var(--cor-branco);
    font-size: var(--fonte-tamanho);
    width: 10vh;
    height: 4vh;
}

.btn-login:hover{
    background-color : var(--cor-branco);
    color: var(--cor-principal);
}

.menu-icon{
    display: none;
}


.itemprod{
    display: none;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 8vh;
    left: 0;
    overflow: hidden;
    
}

.itemprod.activeprod{
    display: flex;
}

.itemprod .titleprod{
    font-size: 5vw;
    color: #fff;
    font-weight: bold;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 20vh;
    transform: translate(-50%, -70%);
}

.itemprod .refri{
    z-index: 2;
    max-width: 100vw;
    position:  absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}



#prev1, #next1{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 5vh;
    height: 5vh;
    background-color: #eee9;
    border: 1px solid #eee9;
    color: #eee;
    font-size: x-large;
    font-family: monospace;
    cursor: pointer;
    z-index: 5;
    border-radius: 50%;

}

#prev1{
    left: 30px;
}

#next1{
    right: 30px;
}

@keyframes toActive{
    from{
        top: 100%;
        opacity: 0;
    }
}

.itemprod.activeprod img{
    animation: toActive 0.5s ease-in-out 1;
}

.itemprod.activeprod .title{
    animation: toActive 0.7s ease-in-out 1;
}

@media screen and (max-width: 1135px) {
    header .navegation1, .cadastro{
        display: none;
    }

    header{
        justify-content: space-between;
        max-width: 100vw;
        padding: 3vh;

    }

    .menu-icon{
        display: flex;
        cursor: pointer;
    }

    .nav-mobile1{
        display: none;
        background-color: var(--cor-branco);
        padding: 1%;
        position: relative;
        top: 5vhvh;
        text-align: center;

    }

    .nav-mobile1 li{
        list-style: none;
        align-items: center;
        line-height: 170%;
        font-weight: bold;
        z-index: 1;
    }

    .navegation-mobile1 a{
        text-decoration: none;
        color: var(--cor-principal);
        font-size: var(10pt);
    }


    .itemprod.activeprod{
        top: 1vh;
        display: flex;
        width:100vw;
        position: relative;
    }

    #prev1, #next1{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 5vh;
        height: 5vh;
        background-color: #eee9;
        border: 1px solid #eee9;
        color: #eee;
        font-size: x-large;
        font-family: monospace;
        cursor: pointer;
        z-index: 5;
        border-radius: 50%;
    
    }

    #prev1{
        left: 30px;
    }
    
    #next1{
        right: 30px;
    }

    .openprod{
        display: block;
    }

}