:root{
    --cor-principal: #DE0B1C;
    --cor-branco: #ffffff;
    --cor-bg: #000000;
    --fonte-tamanho: 2.5vh;
    --font-tamanho-cards: 100%;
    --card-color: #313131;
}

@font-face {
    font-family: 'LeagueSpartan';
    src: url('Fonts\LeagueSpartan-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
    font-family: url('Fonts\LeagueSpartan-Medium.ttf') format('truetype');
}



body{
    background-color: var(--cor-bg);
    font-family: 'LeagueSpartan', sans-serif;
    margin: 0;
}


/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5vh;
    background-color: var(--cor-bg);
    z-index: 90;
    margin-top: 0;
    height: 10vh;
    

    
    .logo{
        width: 80%;
        display: block;
        align-items: center;
    }

}



.navegation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15vh;
    margin: 0 auto;
    list-style: none;
}

.navegation a{
    text-decoration: none;
    color: var(--cor-branco);
    font-size: var(--fonte-tamanho);
}


.navegation a:hover{
    color: var(--cor-principal);
}

.cadastro{
    width: 25vh;
    font-size: var(--fonte-tamanho);
    display: flex;
    justify-content: space-between;
    gap: 1vh;
    align-items: center;
}

.cadastre-se{
    display: flex;
    margin: auto;
    text-decoration: none;
    color: var(--cor-principal);
    font-size: var(--fonte-tamanho);
}

.cadastre-se:hover{
    color: var(--cor-branco);
}

.btn-login{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: var(--cor-principal);
    color: var(--cor-branco);
    font-size: var(--fonte-tamanho);
    width: 10vh;
    height: 4vh;
}

.btn-login:hover{
    background-color : var(--cor-branco);
    color: var(--cor-principal);
}

.menu-icon{
    display: none;
}

.textohome{
    font-size: 8vw;
    position: relative;
    color: var(--cor-principal);
    text-decoration: none;
    font-weight: 300;
    display: flex;
    padding-top: 10%;
    justify-content: center;
    text-align: center;
    margin-bottom: 5%;
    -webkit-text-stroke: 0.1vh var(--cor-bg);
}

.circulo1{
    position: fixed;
    top: 60vh;
    margin-left: -15%;
    z-index: -1;
}

.circulo1 img{
    width: 60vh;
}

.first-section{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.card-produto{
    width: 40vh;
    display: block;
    justify-content: center;
    align-items: center;
    background-color: var(--card-color);
    border-radius: 15px;
    opacity: 0.9;
    z-index: 10;
    margin: 1%;
}

p{
    color: var(--cor-branco);
    font-weight: 700;
    font-size: var(--font-tamanho-cards);
    text-align: center;
    padding: 2%;
}

.preco{
    color: var(--cor-branco);
    text-align: left;
    margin-left: 5%;
    font-size: var(--fonte-tamanho);
}

.card-produto img{
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;    
}


.second-section{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.footer{
    height: 30vh;
    z-index: 200;
}



.circulo2{
    position: fixed;
    max-width: 30vw;
    top: 40vh;
    right: 20px;
    z-index: -1;
}

.circulo2 img{
    max-width: 30vw;
}

.nav-mobile{
    display: none;
}

@media screen and (max-width: 1135px) {
    header .navegation, .cadastro{
        display: none;
    }

    header{
        justify-content: space-between;

    }

    .menu-icon{
        display: flex;
        cursor: pointer;
    }

    .nav-mobile{
        display: none;
        background-color: var(--cor-branco);
        padding: 1%;
        text-align: center;

    }

    .nav-mobile li{
        list-style: none;
        align-items: center;
        line-height: 170%;
        font-weight: bold;
    }

    .navegation-mobile a{
        text-decoration: none;
        color: var(--cor-principal);
        font-size: var(10pt);
    }


    .textohome{
        font-size: 8vh;
    }

    .open{
        display: block;
    }
}